* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    font-family: 'Courier New', Courier, monospace;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0px;
    left: 0px;

    background-color: rgba(87, 24, 146, 0.685);
    box-sizing: content-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.elementosLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-width: 300px;
    width: auto;
    min-height: 250px;
    height: auto;

    background-color: #eee;

    padding: 10px;
    border-radius: 10px;
}

.campoLogin {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    

    margin-bottom: 10px;
}

.campoLogin label {
    font-weight: bold;
    margin-bottom: 2px;
}

.campoLogin input {
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(185, 184, 184);
}

.botaoLogin {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    margin-top: 10px;
}

.botaoLogin button {
    cursor: pointer;

    background-color: #048;
    color: white;

    border-radius: 5px;
    width: 100px;
    height: 30px;
}

.botaoLogin button:hover {
    background-color: rgb(0, 33, 66);
    scale: 1.1;
    transition: 0.3s;
    font-weight: bold;
}

.sas {
    color: red;
    font-weight: bold;
    
}